<app-navbar-user></app-navbar-user>
<div class="container-fluid" id="all">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-1 justify-content-center">
      <h2>ÁREAS</h2>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-8 justify-content-center">
      
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-11 text-center">
      <div id="table" class="m-4">
        <table class="table bg-glass">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">DNI</th>
              <th scope="col">Diagnóstico</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>1</td>
              <td>Juan</td>
              <td>Garcia</td>
              <td>21/09/2000</td>
              <td>45102031</td>
              <td>Diagnóstico clínico</td>
              <td>
                
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>2</td>
              <td>Johannes</td>
              <td>Sepulveda</td>
              <td>12/01/2001</td>
              <td>45102031</td>
              <td>Diagnóstico clínico</td>
              <td>
                
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>3</td>
              <td>Santiago</td>
              <td>Kalksma</td>
              <td>10/02/2001</td>
              <td>45102301</td>
              <td>Diagnóstico clínico</td>
              <td>
                
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>4</td>
              <td>Santiago</td>
              <td>Kalksma</td>
              <td>10/02/2001</td>
              <td>45102301</td>
              <td>Diagnóstico clínico</td>
              <td>
                
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>5</td>
              <td>Santiago</td>
              <td>Kalksma</td>
              <td>10/02/2001</td>
              <td>45102301</td>
              <td>Diagnóstico clínico</td>
              <td>
                
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>6</td>
              <td>Santiago</td>
              <td>Kalksma</td>
              <td>10/02/2001</td>
              <td>45102301</td>
              <td>Diagnóstico clínico</td>
              <td>
                
              </td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>7</td>
              <td>Santiago</td>
              <td>Kalksma</td>
              <td>10/02/2001</td>
              <td>45102301</td>
              <td>Diagnóstico clínico</td>
              <td>
                
              </td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>8</td>
              <td>Santiago</td>
              <td>Kalksma</td>
              <td>10/02/2001</td>
              <td>45102301</td>
              <td>Diagnóstico clínico</td>
              <td>
                
              </td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>9</td>
              <td>Santiago</td>
              <td>Kalksma</td>
              <td>10/02/2001</td>
              <td>45102301</td>
              <td>Diagnóstico clínico</td>
              <td>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>