<body>
    <header><h1>Login</h1></header>
    <div id="cuerpo">
        <div>
            <h2>Usuario</h2>
            <input type="text">
            <input type="submit" class="boton">
        </div>
        <div>    
                <h2>Contraseña</h2>
                <input type="password">
                <input type="submit" class="boton">      
        </div>
        <div>
            <h2><a href="">Crear Cuenta</a></h2>
        </div>
        <div>
            <h2> <a [routerLink]="['/Recuperar-contrasena']">Olvidaste tu contraseña?</a></h2>
        </div>
        
    </div>

    <footer>
        <p><a href="">¿Quienes somos?</a></p>
        <p><a href="">Contacto</a></p>
        <p><a href="">¿Donde estamos?</a></p>
    </footer>
</body>


