<!--acá va el navbar-->
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-success">nuevo</button>
    </div>
    <div class="col-11" >
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">nombre</th>
        <th scope="col">apellido</th>
        <th scope="col">fecha de nacimiento</th>
        <th scope="col">dni</th>
        <th scope="col">diagnostico</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1</td>
        <td>juan</td>
        <td>garcia</td>
        <td>21/09/2000</td>
        <td>45102031</td>
        <td>Diagnóstico clínico</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>2</td>
        <td>johannes</td>
        <td>sepulveda</td>
        <td>12/01/2001</td>
        <td>45102031</td>
        <td>Diagnóstico clínico</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>3</td>
        <td>santiago</td>
        <td>kalksma</td>
        <td>10/02/2001</td>
        <td>45102301</td>
        <td>Diagnóstico clínico</td>
      </tr>
    </tbody>
  </table>
    </div>
    <div class="col-1">
  <button type="button" class="btn btn-secondary">editar</button>
  <button type="button" class="btn btn-danger">eliminar</button>
    </div>
  
    
    
     
</div>
<!--acá va el footer-->