<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="colIzq">
            <hr>
            <h3>Nombre</h3>
            <input type="" name="" id="">
            <h3>Apellido</h3>
            <input type="" name="" id="">
            <h3>DNI</h3>
            <input type="" name="" id="">
            <h3>Fecha de nacimiento</h3>
            <input type="date" name="" id="">
            <div class="d-grid gap-2" id="div">
                <button type="button" name="" id="buttonCrear" class="btn btn-success">Crear</button>
                <button type="button" name="" id="buttonDiagnostico" class="btn">Agregar diagnostico</button>
            </div>
            <hr>
        </div>
    </div>
</div>