<app-navbar-is></app-navbar-is>
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Alerta Azul <br />
                    <span style="color: hsl(218, 81%, 75%)"></span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos?
                </p>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <h3>Inicar sesión</h3>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <form [formGroup]="loginForm">
                                    <input type="email" id="form3Example3" class="form-control" formControlName="email" />
                                    <label class="form-label" for="form3Example3">Email</label>
                                    <div *ngIf=" email.invalid && (email.dirty || email.touched)"
                                        class="alert text-danger">
                                        <div *ngIf="email.errors?.['required']">
                                            El email es requerido.
                                        </div>
                                        <div *ngIf="email.errors?.['email']">
                                            El email debe tener el formato correspondiente.
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <form [formGroup]="loginForm">
                                    <input type="password" id="form3Example4" class="form-control" formControlName="password" />
                                    <label class="form-label" for="form3Example4">Contraseña</label>
                                    <div *ngIf=" password.invalid && (password.dirty || password.touched)"
                                        class="alert text-danger">
                                        <div *ngIf="email.errors?.['required']">
                                            La contraseña es requerida.
                                        </div>
                                        <div *ngIf="email.errors?.['password']">
                                            La contraseña debe tener el formato correspondiente.
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33"
                                    checked />
                                <label class="form-check-label" for="form2Example33">
                                    Recordar usuario
                                </label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-success btn-block mb-4" (click)="iniciarSesion()">
                                Iniciar sesión
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>