<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="colIzq">
            <hr>
            <h3>Nombre</h3>
            <input type="" name="" id="">
            <h3>Apellido</h3>
            <input type="" name="" id="">
            <h3>DNI</h3>
            <input type="" name="" id="">
            <h3>Número de teléfono</h3>
            <input type="" name="" id="">
            <h3>Correo electrónico</h3>
            <input type="email" name="" id="">
            <h3>Profesión/Especialidad</h3>
            <input type="" name="" id="">
            <h3>Contraseña</h3>
            <input type="password" name="" id="">
            <h3>Confirmar Contraseña</h3>
            <input type="password" name="" id="">
            <div class="d-grid gap-2">
            <button type="button" name="" id="" class="btn btn-success">Crear</button>
            </div>
            <hr>
        </div>
    </div>
</div>