<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="colIzq">
            <hr>
            <h3>Nombre</h3>
            <input type="" name="" id="">
            <h3>Apellido</h3>
            <input type="" name="" id="">
            <h3>DNI</h3>
            <input type="" name="" id="">
            <h3>Número de teléfono</h3>
            <input type="" name="" id="">
            <h3>Correo electrónico</h3>
            <input type="email" name="" id="">
            <h3>Profesión/Especialidad</h3>
            <input type="" name="" id="">
            <h3>Contraseña</h3>
            <input type="password" name="" id="">
            <h3>Confirmar Contraseña</h3>
            <input type="password" name="" id="">
            <div class="d-grid gap-2">
                <button type="button" name="" id="" class="btn btn-success">Crear</button>
            </div>
            <hr>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" id="colIzq">
            <div class="input-group">
                <input type="text" id="email" class="input-group__input" required>
                <label for="email" class="input-group__label">Nombre</label>
            </div>
            <div class="input-group">
                <input type="text" id="email" class="input-group__input" required>
                <label for="email" class="input-group__label">Apellido</label>
            </div>
            <div class="input-group">
                <input type="text" id="email" class="input-group__input" required>
                <label for="email" class="input-group__label">DNI</label>
            </div>
            <div class="input-group">
                <input type="text" id="email" class="input-group__input" required>
                <label for="email" class="input-group__label">Correo electrónico</label>
            </div>
            <div class="input-group">
                <input type="text" id="email" class="input-group__input" required>
                <label for="email" class="input-group__label">Número de teléfono</label>
            </div>
            <div class="input-group">
                <input type="text" id="email" class="input-group__input" required>
                <label for="email" class="input-group__label">Profesión/Especialidad</label>
            </div>
            <div class="input-group">
                <input type="password" id="email" class="input-group__input" required>
                <label for="email" class="input-group__label">Contraseña</label>
            </div>
            <div class="input-group">
                <input type="password" id="email" class="input-group__input" required>
                <label for="email" class="input-group__label">Confirmar contraseña</label>
            </div>
            <button type="button" name="" id="" class="btn btn-success">Crear</button>
        </div>
    </div>
</div>