<!--acá va el navbar-->
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-success">nuevo</button>
    </div>
    <div class="col-11" >
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del area</th>
        <th scope="col">Numero de habitación</th>
        <th scope="col">Numero de cama</th>
        

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1</td>
        <th scope="col">Zona Este</th>
        <th scope="col">Habitación n°10</th>
        <th scope="col">Cama n°2</th>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td>2</td>
        <th scope="col">Zona Norte</th>
        <th scope="col">Habitación n°20</th>
        <th scope="col">Cama n°1</th>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>3</td>
        <th scope="col">Zona Oeste</th>
        <th scope="col">Habitación n°30</th>
        <th scope="col">Cama n°2</th>

      </tr>
    </tbody>
  </table>
    </div>
    <div class="col-1">
  <button type="button" class="btn btn-secondary">editar</button>
  <button type="button" class="btn btn-danger">eliminar</button>
    </div>
  
    
    
     
</div>
<!--acá va el footer-->
