<!--acá va el navbar-->
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-success">nuevo</button>
    </div>
    <div class="col-11" >
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">nombre</th>
        <th scope="col">apellido</th> 
        <th scope="col">dni</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1</td>
        <td>thiago</td>
        <td>avanzatti</td>
        <td>45102031</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td>2</td>
        <td>johannes</td>
        <td>toconas</td>
        <td>45102031</td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>3</td>
        <td>lucas</td>
        <td>kalksma</td>
        <td>45102301</td>

      </tr>
    </tbody>
  </table>
    </div>
    <div class="col-1">
  <button type="button" class="btn btn-secondary">editar</button>
  <button type="button" class="btn btn-danger">eliminar</button>
    </div>
  
    
    
     
</div>
<!--acá va el footer-->