<nav id="navbar">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">Alerta Azul</h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Reportes</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Emergencias</a></li>
            <li><a class="dropdown-item">Normales</a></li>
            <li><a class="dropdown-item">Llamadas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Registros</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/nurse-abm">Efermeros</a></li>
            <li><a class="dropdown-item" routerLink="/patient-abm">Pacientes</a></li>
            <li><a class="dropdown-item" routerLink="/area-abm">Áreas</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</nav>